IMAGE_NAME=boniOS
REPO_ORGANIZATION="boniboyblue"
IMAGE_DESC="My Customised Bootc Image"
IMAGE_KEYWORDS="bootc,oci,linux,fedora,silverblue"
DEFAULT_TAG="44"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
